<div class="d-flex flex-column">
    <app-loading-overlay></app-loading-overlay>
    <div class="profile-header d-flex flex-row justify-content-between w-70  ms-5 me-5">   
        <h2 class="poppins-regular">Mis Pokémon</h2> 
        <button 
        class="button button-outline ms-5"
        mat-stroked-button 
        [routerLink]="['/team']"
        > <mat-icon>edit</mat-icon> <span class="poppins-regular small">Editar</span></button>                          
    </div>

   <div class=" pokemon-summary d-flex flex-column justify-content-center w-100 mt-3">
    <div *ngFor="let pokemon of selectedPokemons" class=" pokemon-stat-card d-flex align-self-center p-4 rounded-4 shadow-sm mb-4 w-75">
        <div class="w-25 h-100  d-flex justify-content-end flex-column">
            <img [src]="pokemon.sprite" [alt]="pokemon.name" class="align-self-center" width="150" height="150"/>
            <h5 class="fw-bold mb-0 text-center">{{ pokemon.name | titlecase }}</h5>
            <p class="text-muted text-center">{{ pokemon.types.join('/') | titlecase }}</p>
        </div>
        
      
        <div class="w-50">
      
          <div class="stat-row mb-2">
            <span>HP</span>
            <mat-progress-bar [value]="pokemon.hp" [max]="statMax.hp" color="primary"></mat-progress-bar>
          </div>
          <div class="stat-row mb-2">
            <span>Ataque</span>
            <mat-progress-bar [value]="pokemon.attack" [max]="statMax.attack" color="primary"></mat-progress-bar>
          </div>
          <div class="stat-row mb-2">
            <span>Defensa</span>
            <mat-progress-bar [value]="pokemon.defense" [max]="statMax.defense" color="primary"></mat-progress-bar>
          </div>
          <div class="stat-row mb-2">
            <span>Ataque Especial</span>
            <mat-progress-bar [value]="pokemon.specialAttack" [max]="statMax.specialAttack" color="primary"></mat-progress-bar>
          </div>
          <div class="stat-row mb-2">
            <span>Defensa Especial</span>
            <mat-progress-bar [value]="pokemon.specialDefense" [max]="statMax.specialDefense" color="primary"></mat-progress-bar>
          </div>
          <div class="stat-row mb-2">
            <span>Velocidad</span>
            <mat-progress-bar [value]="pokemon.speed" [max]="statMax.speed" color="primary"></mat-progress-bar>
          </div>
        </div>
      </div>
      
   </div>
      


</div>