@import '../../../styles.scss';

.profile-header {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: $text-blue;
    font-weight: 400;
  }

  .button-outline {
    border-radius: 20px !important;
    border: 2px solid $text-blue !important;
  }
  
  .pokemon-summary {
    height: 400px;
    overflow-y: auto;
    padding: 1rem;
    padding-top: 500px;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;

    @media (max-width: 576px) {
     padding-top: 860px;
    }
  }

  .pokemon-stat-card {
    background: #f8f4f4;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  
    @media (max-width: 576px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .pokemon-info {
    width: 150px;
    flex-shrink: 0; 
  }

  .pokemon-stats {
    flex: 1; 
    width: 100%; 
  }
  
  .pokemon-img {
    width: 100%;
    max-width: 120px;
    height: auto;
    object-fit: contain;
  }

  @media (max-width: 576px) {
    .pokemon-info {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .pokemon-img {
      width: 100px;
      height: auto;
    }
  }
  
  .stat-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  
    span {
      font-weight: 500;
      margin-bottom: 4px;
    }
  }

  .stats-table {
    width: 100%;
    background-color: transparent;
  }

  .stats-table th,
  .stats-table td {
    background-color: transparent !important;
  }