.viewport {
    height: 400px;
    width: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}

.pokemon-card {
    background: #f4f4f5;
    border-radius: 5%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100px;
    transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease;
}

.pokemon-card.selected {
    background:#FFC600;
  }

.pokemon-card.faded {
    opacity: 0.4;
    pointer-events: none; // disable clicking
    transition: opacity 0.3s ease-in-out;
  }

  .pokemon-card:hover{
    cursor: pointer;
  }

.pokemon-img {
    position: absolute;
    margin-top: 10%;
    width: 100px;
    height: 100px;
    top: -60%;
    transform: translateX(-50%);
}

.pokemon-card {
    position: relative;
    padding-top: 60px;
    text-align: center;
    background-color: #f4f4f5;
    border-radius: 16px;
    overflow: visible;
  }
  

.pokemon-id-name {
    margin-top: 0.5rem;
}

.pokemon-id {
    background-color: #0b3b5c;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.75rem;
    font-weight: 600;
}

.pokemon-name {
    margin-top: 4px;
    font-weight: 600;
    font-size: 0.9rem;
}
  